.inputFieldsContainer {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.cidrSymbol {
    padding-left: 10px;
    padding-right: 10px;
}

.tableContainer {
    padding: 16px;
}

.numSubnetsInput {
    padding-top: 20px;
    margin-top: 10px;
}

.submitButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-top: 10px;
}

.radioTitle {
    margin-bottom: 0px;
}