<div class="tableContainer">
    <mat-card>
        <div>
            <mat-card-title>
                IPv4 Rechner
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
                   <div class="inputFieldsContainer">
                        <mat-form-field appearance="outline">
                            <mat-label>IP Address:</mat-label>
                            <input matInput formControlName="ip_address" >
                        </mat-form-field>

                        <p>/</p>

                        <mat-form-field appearance="outline">
                            <mat-label>CIDR</mat-label>
                            <input matInput formControlName="cidr" >
                        </mat-form-field>
                    </div>

                    <div class="radioSelection">
                        <mat-radio-group formControlName="is_subnetting">
                            <p>Subnets?</p>
                            <br>
                            <mat-radio-button [value]="true" [checked]="configData.is_subnetting == true">
                                Yes
                            </mat-radio-button>
                            <mat-radio-button [value]="false" [checked]="configData.is_subnetting == false">
                                No
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>


                    <div class="radioSelection">
                        <mat-radio-group formControlName="is_equal">
                            <p>How would you want to subnet?</p>
                            <br>
                            <mat-radio-button [value]="true" [checked]="configData.is_equal == true">
                                Equally
                            </mat-radio-button>
                            <mat-radio-button [value]="false" [checked]="configData.is_equal == false">
                                Unequally (different host sizes)
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="numSubnetsInput">
                        <mat-form-field appearance="outline">
                            <mat-label>Number of subnets:</mat-label>
                            <mat-select formControlName="num_subnets">
                                <mat-option *ngFor="let value of numSubnets" [value]="value">
                                   {{ value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                </form>
            </mat-card-content>
        </div>
    </mat-card>
</div>